{% extends 'AppMantenimientoHogar/base.html' %}
    {% load static %}
    {% block title %} Reparaciones Tato {% endblock title %}

    {% block contenidoquecambia %}  
  
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>
              ¿Quienes Somos?
            </h2>
            <p>
              Somos un grupo de profesionales dedicados al mantenimiento y reparación en todo tipo de ambientes en general.
              Ofrecemos nuestros servicios acorde a las necesidades de cada cliente, a fin de obtener su satisfacción a través de calidad y eficiencia.
              Creamos nuestra firma con el objetivo de cubrir necesidades requeridas por casas de familia, locales comerciales, instituciones educativas y empresas, etc., desde la  profesionalidad y basándonos en tres premisas fundamentales: servicio, calidad y precio.
            </p>
            <a href="">
              Leer Más
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="{%static 'AppMantenimientoHogar/images/about-img.jpg'%}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  
{%endblock contenidoquecambia %}  