{% extends 'AppMantenimientoHogar/base.html' %}
{% load static%}
{% block contenidoquecambia %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">    
    <div class="col-12 col-md-6.offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2> Contactenos </h2> 
        <hr> 
        <form action="" method="POST">
    
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            
            <br>
            <div class="d-flex justify-content-end">
                <input type="reset" value="Cancelar" class="btn btn-secondary">
                &nbsp;
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>    
        {% if mensaje %}
            <p>{{mensaje}}</p>
        {% endif %}

            </div>
        </div>
                 
        
    </div>


</div>


{% endblock %}