{% extends 'AppMantenimientoHogar/base.html' %}
{% load static %}
{% block contenidoquecambia %}

<div class="slider">
    <div>
        <img src="{% static 'AppMantenimientoHogar/img/banner/banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'AppMantenimientoHogar/img/banner/banner2.png' %}" alt=""> 
    </div>
    <div>
        <img src="{% static 'AppMantenimientoHogar/img/banner/banner3.png' %}" alt="">
    </div>
</div>


<div id="contenido">
    <div class="productos">
        <div class="producto">
            <div class="contenedor">
                <img src="{%static 'AppMantenimientoHogar/img/productos/lenovo_yoga_710.jpeg' %}" alt="yoga">
            </div>

            <div class="detalles">
                <h5>Lenovo</h5>
                <h2>Yoga 710</h2>
                <h3>$799.990</h3>
            </div>
        </div>


        <div class="producto">
            <div class="contenedor">
                <img src="{%static 'AppMantenimientoHogar/img/productos/iphone.jpeg' %}" alt="yoga">
            </div>

            <div class="detalles">
                <h5>Apple</h5>
                <h2>Iphone</h2>
                <h3>$699.990</h3>
            </div>
        </div>
        <div class="producto">
            <div class="contenedor">
                <img src="{%static 'AppMantenimientoHogar/img/productos/iphone-15-ultra.jpg' %}" alt="yoga">
            </div>

            <div class="detalles">
                <h5>Apple</h5>
                <h2>Iphone 15 Pro</h2>
                <h3>$3.999.990</h3>
            </div>
        </div>    
                    
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="{% static 'AppMantenimientoHogar/img/productos/s9.jpeg' %}" alt="s9">
            </div>

            <div class="detalles">
                <h5>Samsung</h5>
                <h2>Galaxy S9</h2>
                <h3>$699.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="{%static 'AppMantenimientoHogar/img/productos/macbook.jpeg' %}" alt="macbook">
            </div>

            <div class="detalles">
                <h5>Apple</h5>
                <h2>Macbook 13</h2>
                <h3>$1.200.000</h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}