{% extends 'AppMantenimientoHogar/base.html' %}
{% load static%}
{% block contenidoquecambia %}

<div class="slider">
    <div>
        <img src="{% static 'AppMantenimientoHogar/img/banner/banner1.png' %}" alt="">
    </div>
    
</div>
<h2> Cargue su pedido de reparación </h2>
<form action="" method="POST">
    
    {% csrf_token %}
    <table>
    {{ form.as_table}}
    </table>
    
    <br>
    <button type="submit">Enviar</button>
</form>    
{% if mensaje %}
    <p>{{mensaje}}</p>
{% endif %}

{% endblock %}