{% extends 'AppMantenimientoHogar/base.html' %}
    {% load static %}
    {% block title %} Reparaciones Tato {% endblock title %}

  {% block contenidoquecambia %}  
  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2> Nuestros Servicios </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/s1.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Mantenimiento
              </h5>
              <p>
                Realizamos todo tipo de mantenimiento edilicio, ya sea en hogares de familia, edificios, oficinas, consorcios, etc. Realizamos tambien mantenimiento preventivo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/s2.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Electricidad
              </h5>
              <p>
                Estamos capacitados para realizar cualquier obra eléctrica desde sus inicios como así también continuar o reparar una existente. Nuestros técnicos poseen los conocimientos para trabajar con redes monofásicas o trifásicas. También realizamos colocaciones de equipos de aire acondicionados, tableros eléctricos, instalación de plafones de todo tipo, etc.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/s3.png" alt="" />
            </div>
            <div class="detail-box">
              <h5>
                Plomería
              </h5>
              <p>
                Realizamos trabajos en termofusión como así también realizamos reparaciones de caños de plomo. Ejecutamos obras desde cero con los mejores materiales. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

  

  {% endblock contenidoquecambia %}